@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(#ded3ea, #aa9fb6);
    min-height: 100vh;
    color: #ded3ea;
}

@layer components {
    .form {
        @apply w-2/5 bg-violet mt-8 p-8 rounded-lg shadow-[0px_0px_1px_1px_rgba(0,0,0,0.5)] shadow-black;
    }

    .form-container {
        @apply flex flex-col justify-center items-end w-full;
    }

    .tr-spacing {
        @apply mr-4 ml-4;
    }
}
